@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .blinking-cursor {
      @apply font-bold font-mono text-2xl animate-blink;
  }
}

body {
  font-family: monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #fff;
}

